* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "now    now    now"
        "next   next   next"
        "curr-p curr-p curr-p"
        "next-p next-p next-p"
        "ft     ft     ft"
        "fd     fd     fd"
        "ff     ff     ff"
        "footer footer footer"
    ;
    grid-template-rows: 1fr 5fr 3fr 3fr 3fr 2fr repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 0.6em;
    width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

#map-page {
    grid-area: map;
    visibility: hidden;
}

#now-in-theaters {
    grid-area: now;
}

#next-premier {
    grid-area: next;
}

#premiers-current-year {
    grid-area: curr-p;
}

#premiers-next-year {
    grid-area: next-p;
}

#fun-facts {
    grid-area: ff;
}

#fan-theories {
    grid-area: ft;
}

#fan-drawings {
    grid-area: fd;
}


.borde {
    border: 1px solid red;
}

@media screen and(min-width: 768px) {


    #wrapper {
        display: grid;
        grid-template-areas:
            "header header header"
            "now    now    next"
            "curr-p curr-p ff"
            "next-p next-p ff"
            "fd     ft     ff"
            "fd     ft     ff"
            "footer footer footer"
        ;
        grid-template-rows: 1fr 5fr 3fr 3fr 3fr 3fr 2fr;
        grid-template-columns: 1fr 2fr 1fr;
    }


}

@media screen and(min-width: 992px) {

    #wrapper {
        display: grid;
        grid-template-areas:
            "header header header"
            "map    now    next"
            "map curr-p ff"
            "fd next-p ff"
            "fd    ft     ff"
            "footer footer footer"
        ;
        grid-template-rows: 1fr 5fr 3fr 3fr 3fr 2fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-row-gap: 1em;
        grid-column-gap: 0.6em;
    }


    #map-page {
        visibility: visible;
    }



}